@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  font-size: 16px;
  /* font-weight: 400; */
}
body {
  background-color: #e6eff6;
}

ul {
  list-style: none;
}

.main-content {
  margin: 10% 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.main-content > div {
  padding: 40px 30px;
}

#intro {
  background-color: #ffffff;
  box-sizing: border-box;
  grid-column: 1/3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#intro p:nth-child(1) {
  color: hsl(179, 62%, 43%);
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
}

#intro p:nth-child(2) {
  color: #bfdf32;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.5em;
}

#intro p:nth-child(3) {
  color: #98a6bd;
}

.main-content > div > div:first-child {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#subs {
  box-sizing: border-box;
  background: #2bb3b1;
  border-bottom-left-radius: 10px;
}

#subs > div > span:first-child {
  font-size: 2em;
  font-weight: 700;
  margin-right: 10px;
}

#subs > div:not(:first-child) {
  margin-top: 20px;
}

#us {
  background-color: #4abebd;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
}

.button {
  color: white;
  text-align: center;
  padding: 15px;
  background: #bfdf32;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.button:hover {
  background: #dfc532;
}

.attribution {
  color: #000000;
}

@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 30% 10%;
  }
  #intro {
    grid-column: 1;
  }

  #subs {
    border-radius: 0px;
  }

  #us {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
